.header{
	border-bottom: 1px solid #ccc;
	height: 90px;
	padding: 7px 0px 7px 0px;
}

.container {
    max-width: 900px;
}

.logo{
	color: chocolate;
	padding-top: 3px;
}

.nav-style{
	color: #1CB2B2;
	font-size: 1.3rem;
	/*font-family: Rodus;*/
}

.nav-style:hover{
        color: chocolate;
}

.form-header{
	color: chocolate;
	font-size: 1.8rem;
}

.btn-submit{
        background-color: #1CB2B2;
        border: 1px solid #1CB2B2;
        width: 110px;
}

.btn-submit:hover{
        background-color: #fff;
        color:  #1CB2B2;
        border: 1px solid chocolate;
}


.form-container{
	background-color: #fcf1e3;
	/*border: 2px solid #bbb;*/
	border-radius: 5px;
	height: 340px;
	padding: 10% 20% 20% 25%;
}

.image-form-header{
        color:chocolate; /*#ed9b34*/
        font-size: 1.8rem;
}



.image-upload-container{
	
}

.login-container{
	border: 1px solid #bbb;
	border-radius: 2px;
}




@media(max-width: 768px){
	.logo{
        font-size: 1.6rem;
        }

        .nav-style{
        font-size: 1rem;
        }

	.form-container{
        height: 340px;
	}

	.image-form-header{
        font-size: 1.2rem;
        }
}


@media(max-width: 500px){
	
	.logo{
	font-size: 1.6rem;
	}
	
	.form-header{
        font-size: 1.6rem;
	}
	
	.image-form-header{
	 font-size: 1.2rem;
	}

	.nav-style{
        font-size: 0.9rem;
	}

	.form-container{
        height: 300px;
	width: 300px;
	padding: 15% 10% 15% 10%;
        }
}

