.header{
	border-bottom: 1px solid #ccc;
	height: 90px;
	padding: 7px 0px 7px 0px;
}

.container {
    max-width: 900px;
}

.logo{
	color: chocolate;
	padding-top: 3px;
}

.nav-style{
	color: #1CB2B2;
	font-size: 1.3rem;
}

.nav-style:hover{
        color: chocolate;
}

.form-header{
	color: chocolate;
	font-size: 1.8rem;
}

.btn-submit{
        background-color: #1CB2B2;
        border: 1px solid #1CB2B2;
        width: 110px;
}

.btn-submit:hover{
        background-color: #fff;
        color: black;
        border: 1px solid chocolate;
}


@media(max-width: 768px){
	.logo{
        font-size: 1.6rem;
        }

        .nav-style{
        font-size: 1rem;
        }
}


@media(max-width: 420px){
	
	.logo{
	font-size: 1.6rem;
	}
	
	.form-header{
        font-size: 1.6rem;
	}

	.nav-style{
        font-size: 0.9rem;
	}
}

